<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>
    <h1>Change Password </h1>
    <div class="changePassword">
         <div id="changePassword">
                <form action="/submit" method="post">
                    <div>
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username">
                    </div>
                    <div>
                      <label for="current-password">Current Password:</label>
                      <input type="password" id="current-password" name="current-password">
                    </div>
                    <div>
                      <label for="new-password">New Password:</label>
                      <input type="password" id="new-password" name="new-password">
                    </div>
                    <div class="button">
                        <input type="submit" name="action" value="Change">
                    </div>
                </form>
         </div>
    </div>

    <div class="button">
        <form action="/">
            <button>
                Go Back
            </button>
        </form>
    </div>

    <div id="output_text"></div>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();

            var username = document.querySelector('input[name="username"]').value;
            var currentPassword = document.querySelector('input[name="current-password"]').value;
            var newPassword = document.querySelector('input[name="new-password"]').value;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/change_password', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhr.onload = function() {
                if (xhr.status === 200) {
                    if (xhr.responseText === 'Failure') {
                        event.preventDefault();
                        document.getElementById('output_text').innerHTML = 'Error: Failed to change password. Please try again.';
                    }
                    else {
                        document.getElementById('output_text').innerHTML = 'Password Changed Successfully.';

                    }
                }
            }

            xhr.send('action=CHANGE&username=' + encodeURIComponent(username) + '&currentPassword=' + encodeURIComponent(currentPassword) + '&newPassword=' + encodeURIComponent(newPassword));
        });
    </script>


</body>
</html>