<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>
    <h1>Change Password </h1>
    <div class="changePassword">
         <div id="changePassword">
                <form action="/change_password" method="post">
                    <div>
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username">
                    </div>
                    <div>
                      <label for="current-password">Current Password:</label>
                      <input type="password" id="current-password" name="current-password">
                    </div>
                    <div>
                      <label for="new-password">New Password:</label>
                      <input type="password" id="new-password" name="new-password">
                    </div>
                    <div class="button">
                        <input type="submit" name="action" value="Change">
                    </div>
                </form>
         </div>
    </div>

    <div class="button">
        <form action="/">
            <button>
                Go Back
            </button>
        </form>
    </div>

    <div id="output_text"></div>



</body>
</html>