<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>createAccount</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>
    <h1>Create Account</h1>
    <div class="createAccount">
         <div id = "createAccount">
                <form action="/submit" method="post">
                    <div>
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username">
                    </div>
                    <div>
                      <label for="password">Password:</label>
                      <input type="text" id="password" name="password">
                    </div>
                    <div class = "button">
                        <input type="submit" name="action" value="CREATE">
                    </div>

                </form>
         </div>
    </div>


    <div class = "button">
        <form action="/">
            <button>
                Go Back
            </button>
        </form>
    </div>



    <div id="output_text"></div>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevents the form from submitting in the traditional way

            var username = document.querySelector('input[name="username"]').value;
            var password = document.querySelector('input[name="password"]').value;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhr.onload = function() {
                if (xhr.status === 200) {
                    if (xhr.responseText === 'Failure') {
                        // Prevents the form from submitting in the traditional way
                        event.preventDefault();
                        document.getElementById('output_text').innerHTML = 'Error: Username already taken. Please try again....';
                        setTimeout(function() {
                        // Remove the error message after 5 seconds (5000 milliseconds)
                        document.getElementById('output_text').innerHTML = '';
                        }, 5000);
                    }
                    else {
                        document.getElementById('output_text').innerHTML = 'Successfully Created Account. Please press "Go Back"';

                    }
                }
            }

            xhr.send('action=CREATE&username=' + encodeURIComponent(username) + '&password=' + encodeURIComponent(password));
        });
    </script>


</body>
</html>
