<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Performance Review</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>
    <h1>Performance Review</h1>
    <div class="main">
         <div id = "user">
                <form action="/submit" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <input type="submit" value="Submit">
                </form>
         </div>
    </div>

</body>
</html>
