<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>public</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "title">
        <h1>Performance Review</h1>
    </div>

    <div class = "reviews">
        <ul class = "reviews">
        % for review in reviews:
            <li class = "reviews">{{ review }}</li>
        % end
        </ul>
    </div>

    <div class="button">
             <form action="/">
                <button>
                  Login to write a review
                </button>
             </form>
    </div>
</body>
</html>