<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>public</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="/review" class="nav-link px-2 text-white">Write A Review</a></li>
            </ul>
            <div class="big-button-div">
              <div class = "public">

<!--                <a href="/createAccount"><button class="log-out-button">Logout</button></a>-->
<!--                  This button will be implemented in the near future. It's a placeholder for now-->
<!--                  <button class = "dummy">BOING</button>-->

              </div>
            </div>


            </div>
          </div>
        </div>
      </header>

      <div class="main-content-div-public">
        <div class="login-cluster">
            <div class = "title">
                <h1>Performance Review</h1>
            </div>


    <!-- Adding the search input -->
        <div class="search">
            <form action="/public" method="get">
                <input type="text" name="search" placeholder="Search by author or title" value="{{search_query}}">
                <input type="submit" value="Search">
            </form>
        </div>
            <div class = "content">
                <ul class = "reviews">
                % for review in reviews:
                    <li class = "reviews_history">
                        <div class = "reviews">
                            <h5 id="title">{{ review[1] }}</h5>
                            <h5>{{ review[0] }}</h5>
                            <h5>{{ review[2] }}</h5>
                            <h5>{{ review[3] }}</h5>
                        </div>
                    </li>
                % end
                </ul>
            </div>

        </div>
    </div>
<script>
        // JavaScript code to handle the Share button click event
        const shareButtons = document.querySelectorAll('.share-button');

        shareButtons.forEach(button => {
            button.addEventListener('click', function () {
                const title = this.getAttribute('data-title');
                const content = this.getAttribute('data-content');
                const shareText = `Check out this review: ${title} - ${content}`;


                const shareUrl = 'http://localhost:8080/public?';

                if (navigator.share) {
                    navigator.share({
                        title: title,
                        text: shareText,
                        url: shareUrl,
                    })
                        .then(() => console.log('Shared successfully'))
                        .catch(error => console.error('Error sharing:', error));
                } else {
                    alert('Sharing is not supported on this device or browser.');
                }
            });
        });
    </script>
</body>
</html>