<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>public</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "title">
        <h1>Performance Review</h1>
    </div>

    <div class = "title">
        <a href = "/"><button>LOG in to write a draft</button></a>
    </div>
</body>
</html>