<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Performance Review</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "text">
        <h2>Enter Review</h2>
        <form action="/submit" method="post">
            <textarea id="text"></textarea>
            <div class = "button">
                <input type="submit" value="SAVE">
            </div>
        </form>
    </div>

    <div class = "history">
        <h2>History</h2>
        <h3 id = "history">

        </h3>
    </div>
</body>
</html>