<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>review</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "save">
        <h2>Enter Review</h2>
        <!-- <form action="/submit" method="post">
            <textarea id="text"></textarea>
            <div class = "button">
                <input type="submit" value="SAVE">
                <input type="submit" value="PUBLISH">
            </div>
        </form> -->
        <form action="/submit" method="post">
            <label for="title">title:</label>
            <input type="text" id="title" name="title">

            <textarea id="text"></textarea>
            <div class="button">
                <input type="submit" name="action" value="SAVE">
                <input type="submit" name="action" value="PUBLISH">
            </div>
        </form>
    </div>


    <div class = "public">
        <a href="/public"><button>Go to Public Page</button></a>
    </div>
</body>
</html>