body {
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: red;
}

#text{
    width: 80vw;
    height: 30vh;
}

.button{
    margin-top: 10px;
    margin-bottom: 50px;
}

.list{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    margin-left: 30%;
    margin-right: 30%;
}

.reviews_history{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reviews{
    list-style-type: none;
    margin: ;
    font-size: 1rem;
    color: black;
}
h5{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
#title{
    text-align: center;
}
