body {
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: red;
}

#text{
    width: 80vw;
    height: 30vh;
}

.button{
    margin-top: 10px;
    margin-bottom: 50px;
}

.list{
    margin-top: 10px;
    margin-bottom: 10px;
}

#reviews{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 4rem;
    color: blue;
}
.reviews{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: purple;
}